.footer-container {
    background-color: #EF241F;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
    position: fixed;
    left: 0;
    bottom: 0;
    color: black;
}

p {
    padding: 8px;
    margin: 0;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: white;
}
